# Development
black
flake8
mypy
snakeviz
sphinx
sphinx_rtd_theme

# MLOps
lightning
mlflow
torch-tb-profiler
transformers
torchmetrics[image]
hydra-core

# Others
ipywidgets
portalocker
fugashi
ipadic
ujson
gradio
